CLIENT_ID=REPLACE_ME
CLIENT_SECRET=REPLACE_ME
TENANT_ID=REPLACE_ME
SITE_ID=SUBDOMAIN_REPLACE_ME.sharepoint.com,REPLACE_ME
DRIVE_ID=REPLACE_ME
ITEM_ID=REPLACE_ME
IMAGE_FOLDER_ID=REPLACE_ME

GEBKIS_DIR="/usr/share/nginx/html/data/Geburtstagsliste.xls"
GEBKIS_IMG_DIR="/usr/share/nginx/html/images"