CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
SITE_ID=
DRIVE_ID=
ITEM_ID=
IMAGE_FOLDER_ID=

LOG_DIR="/workspace/logs"
GEBKIS_DIR="/usr/share/nginx/html/gebkis-frontend/data/Geburtstagsliste.xls"
GEBKIS_IMG_DIR="/usr/share/nginx/html/gebkis-frontend/images"
PORT=6001